/*Start event*/
@use './../helper/mixin' as *;
@use './../layout/vars' as *;
.events{
    .container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        img{
            max-width: 450px;
            @media (max-width:991px) {
                display: none;
            }
        }
        .info{
            flex: 1;
            .time{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px auto;
                gap: 10px;
                .unit{
                    border: 1px solid #d4d4d4;
                    border-radius: 6px;
                    text-align: center;
                    width: 75px;
                    transition: $main-transition;
                    span{
                        display: block;
                        transition: $main-transition;
                    }
                    span:first-child{
                        font-size: 35px;
                        padding: 15px;
                        color: $main-color;
                        font-weight: bold;
                    }
                    span:last-child{
                        padding: 8px 10px;
                        font-size: 13px;
                        border-top: 1px solid #d4d4d4;
                    }
                    &:hover,  &:hover span:last-child{
                        border-color: $main-color;
                    }
                }
            }
        }
        .title{
            text-align: center;
            margin-top: 40px;
            font-size: 30px;
        }
        .description{
            text-align: center;
            line-height: 1.7;
            font-size: 19px;
            color: #777;
        }
        .subscribe{
            width: 100%;
            margin-top: 50px;
            form{
                width: 600px;
                margin: 20px auto;
                padding: 30px 40px;
                background-color: #f6f5f6;
                border-radius: 50px;
                display: flex;
                gap: 20px;
                @include media(mobile){
                    max-width: 100%;
                    padding: 20px;
                    flex-direction: column;
                    border-radius: 0;
                }
                input[type="email"]{
                    padding: 20px;
                    border-radius: 50px;
                    border: none;
                    flex: 1;
                    caret-color: $main-color;
                    &:focus{
                        outline: none;
                        &::placeholder{
                            opacity: 0;
                        }
                    }
                    &::placeholder{
                        transition: opacity $main-transition;
                    }
                    @include media(mobile){
                        border-radius: 0;
                    }
                }
                input[type="submit"]{
                    border-radius: 50px;
                    border: none;
                    background-color: $main-color;
                    color: white;
                    font-weight: bold;
                    padding: 20px;
                    cursor: pointer;
                    transition: $main-transition;
                    &:hover{
                        background-color: $main-color-alt;
                    }
                    @include media(mobile){
                        border-radius: 0;
                    }
                }
            }
        }
        
    }
}
/*end event */