// start pricing
.pricing#pricing 
    .dots.dots-up 
    .dots.dots-down
    h2.main-title Pricing
    .container 
            .box 
                h2 Basic 
                img(src="../imgs/hosting-basic.png", alt="")
                .price 
                    span.amount $15
                    span.time per Month 
                ul 
                    li 10GB HDD Space 
                    li 5 Email Addresses 
                    li 2 Subdomins 
                    li 4 Databases 
                    li Basic Support 
                a(href="#") choose
            .box.popular
                .label Most Popular
                h2 Advanced 
                img(src="../imgs/hosting-Advanced.png", alt="")
                .price 
                    span.amount $15
                    span.time per Month 
                ul 
                    li 10GB HDD Space 
                    li 5 Email Addresses 
                    li 2 Subdomins 
                    li 4 Databases 
                    li Basic Support 
                a(href="#") choose
            .box 
                h2 Professional
                img(src="../imgs/hosting-Professional.png", alt="")
                .price 
                    span.amount $15
                    span.time per Month 
                ul 
                    li 10GB HDD Space 
                    li 5 Email Addresses 
                    li 2 Subdomins 
                    li 4 Databases 
                    li Basic Support 
                a(href="#") choose
.spikes
// end pricing