//start video
.videos#videos 
    h2 Top videos
    .container 
        .holder
            .list 
                .name Top Videos
                    i.fas.fa-random
                ul 
                    li How to Create Sub Domain 
                        span 05:18
                    li playing with the dns 
                        span 03:18
                    li playing with the dns 
                        span 03:18
                    li playing with the dns 
                        span 03:18
                    li playing with the dns 
                        span 03:18
                    li playing with the dns 
                        span 03:18
                    li playing with the dns 
                        span 03:18
            .preview 
                img(src="../imgs/video-preview.jpg", alt="")
                .info Everything About the virtual hosts 
.spikes
//end video