// start stats
.stats#stats 
    h2 Our Awesom Stats 
    .container 
        .box
            i.far.fa-user.fa-2x.fa-fw 
            span.number 300
            span.text Clients
        .box
            i.fas.fa-code.fa-2x.fa-fw 
            span.number 400
            span.text projects
        .box
            i.fas.fa-globe-asia.fa-2x.fa-fw 
            span.number 12
            span.text Countries
        .box
            i.far.fa-money-bill-alt.fa-2x.fa-fw 
            span.number 500K
            span.text Money
.spikes
// end stats