//start discount
.discount#discount
    .image 
        .content 
            h2 We  Have A Discount 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium atque quia, eius facere iure itaque, voluptates explicabo maiores vitae aliquid ullam quam nostrum libero? Fugiat sapiente odio minima tempora veniam!
            img(src="../imgs/discount.png", alt="")
    .form 
        .content
            h2 Request A Discount 
            form(action="") 
                input(class = "input" type="text" placeholder = "your name" name = "name")
                input(class = "input" type="email" placeholder = "your email" name = "email")
                input(class = "input" type="email" placeholder = "your mobile" name = "mobile")
                textarea(class = 'input', placeholder = "Tell Us About Your Needs", name = "message") 
                input(type="submit" value = "Send")
.spikes
// end discount