// start footer
.footer 
    .container 
        .box 
            h3 Elzero 
            ul.social 
                li 
                    a(href="#" class = "facebook") 
                        i.fab.fa-facebook-f
                li 
                    a(href="#" class = "twitter") 
                        i.fab.fa-twitter
                li 
                    a(href="#" class = "Youtube") 
                        i.fab.fa-youtube
            p.social Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero exercitationem fuga, omnis at repudiandae voluptas.
        .box 
            ul.links 
                li 
                    a(href="#") Important link 
                li 
                    a(href="#") Important link 
                li 
                    a(href="#") Important link 
                li 
                    a(href="#") Important link 
                li 
                    a(href="#") Important link 
        .box 
            .line
                i.fas.fa-map-marker-alt.fa-fw.fa-2x
                .info Sudan, Khartoom, Aum Sunot
            .line
                i.fas.fa-clock.fa-fw.fa-2x
                .info Dusiness Hours: From 10:00 to 18:00
            .line
                i.fas.fa-phone-volume.fa-fw.fa-2x
                .info 
                    span +249 966 147 550
                    span +249 121 558 655
        .box.footer-gallery 
            img(src="../imgs/gallery-01.png", alt="")
            img(src="../imgs/gallery-02.png", alt="")
            img(src="../imgs/gallery-03.jpg", alt="")
            img(src="../imgs/gallery-04.png", alt="")
            img(src="../imgs/gallery-05.jpg", alt="")
            img(src="../imgs/gallery-06.png", alt="")
    p.copyright Made With &lt; 3 By Elzero

// end footer