// start header
.header 
    .container 
        a(href="#" class = "logo") Elzero  
        ul.main-nav 
            li: a(href="#Article") Article 
            li: a(href="#Gallery") Gallery 
            li: a(href="#Features") Features 
            li|
                |
                a(href="#Other links") Other links
                include ./3mega
//end header