//start landing
.landing 
    .container 
        .text 
            h1 Welcome, to Elzero 
            p Here Iam gonna share everything in my life. Books Iam reading, Games
        .image|
            |
            img(src="../imgs/landing-image.png", alt="")|
                |
        |
    a(href="#article" class = "go-down")|
        |
        i.fas.fa-angle-double-down.fa-2x
