// start articles

.articles#articles
    .dots.dots-up 
    .dots.dots-down
    h2 Articles
    .container
        - for(let i= 1; i< 9 ; i++)
            .box|
                |
                img(src="./../imgs/cat-0"+i+".jpg", alt="")|
                |
                .content 
                    h3 tets tiltle 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet nesciunt eaque non nisi, dolor ea corrupti rem dolore in eos deleniti amet dolorem culpa reprehenderit alias? Dicta, exercitationem tempore?
                .info|
                    |
                    a(href="#") read More
                    |
                    |
                    i.fas.fa-long-arrow-alt-right
.spikes

// end articles
