// start Testimonials
.testimonials#testimonials
    h2 Testimonials
    .container
        - for(let i = 1; i<7; i++)
            .box
                img(src="../imgs/avatar-0"+i+".png", alt="")
                h3 Mohamed Farag 
                span.title Full stack Web Devoloper 
                .rate 
                    i(class = "filled fas fa-star")
                    i.far.fa-star 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias ullam, saepe harum facilis quis eius fuga. Debitis illum aperiam, impedit, assumenda voluptas similique sunt quasi, eius omnis ullam vitae qui.

// end Testimonials