:root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-transition: 0.3s;
    --padding-section: 100px;
    --section-background: #ececec;
}
$main-color:var(--main-color);
$main-color-alt:var(--main-color-alt);
$main-transition:var(--main-transition);
$padding-section:var(--padding-section);
$section-background:var(--section-background);